#GoogleMap {
  height: 400px;
  width: 100%;
}

.Map {
  .marker {
    transform: translate(-50%, -100%);
  }

  .expand {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 25px;
    line-height: 1.4rem;
    background: white;
    color: black;
    padding: 0.2rem;
    z-index: 1;
    cursor: pointer;
  }

  .moveLeft {
    transform: translateX(-30px);
  }
}