#GoogleMap {
  height: 400px;
  width: 100%;
}

.Map {
  .marker {
    transform: translate(-50%, -100%);
    height: 40px;
  }

  .fullsize {
    position: absolute;
    top: 3px;
    right: 3px;
    line-height: 0;
    background: white;
    z-index: 1;
    cursor: pointer;
  }

  .moveLeft {
    transform: translateX(-30px);
  }

  #coordinates {
    margin: 1rem 0;

    > div {
      display: inline-block;
      white-space: nowrap;
      margin-top: 1rem;
    }
  }
}