.Worksheet {
  font: 13px console;
  
  .selected {
    background: lightgreen;
  }

  table {
    font: 13px arial;
    background: white;
    left: 0;
  }

  th {
    background: #eee;
    vertical-align: bottom;
  }

  #Worksheet, pre {
    width: 100%;
    max-height: 80vh;
    overflow: auto;
  }
}