.locationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapHeader {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.mapHeaderText {
    max-width: 80vw;
    margin: 0px;
    padding: 0px;
}

.inputsContainer {
    margin: 10px 0px;
}