#Advanced {
  margin-bottom: 5rem;
  background: #eee;
  text-align: center;
  padding: 1rem;
}

.advanced {
  display: inline-block;
  margin: 0 0.5rem;
  border: 1px solid #aaa;
  position: relative;
}

