@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: IBM Plex Sans;
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

table {
  border: 1px solid black;
  border-spacing: 0; 
  empty-cells: show;
}

td, th {
  padding: 0.2em 0.5em;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  vertical-align: top;
}

.marker {
	transform: translate(-50%, -100%);
	display: inline-block;
	height: 40px;
}

#lat, #lon {
	width: 5em;
}

.hidden {
	display: none;
}

#root {
  max-width: 1200px;
  margin: auto;
  background: white;
  border: 1px solid #aaa;
}

.MuiInputBase-root {
  width: 5em;
}

table.coverCrop {
  width: 100%;
}

table.coverCrop table {
  width: 50%;
}

table.coverCrop td:nth-child(1) {
  width: 10em;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  background: white;
}

nav button {
  flex-grow: 1;
  flex-basis: 0;
  font-weight: bold;
  padding: 0em 1.2rem;
  width: 9rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  color: gray;
}

nav button:hover {
  background: #eee;
}

nav button.selected {
  color: #385E1B;
}

nav button:first-of-type {
  margin-left: 8rem;
}

#Main {
  padding: 1rem 3rem;
  position: relative;
}

.fullwidth {
  margin-top: 1em;
  position: absolute;
  left: 0;
  width: 100%;
}

nav img {
  height: 2rem;
}

div.center {
  text-align: center;
}

.about {
  font-size: 1rem;
}

.home button, .about button, .bn button, button.bn {
  background: #6B9333;
  box-shadow: 0px 2px 2px rgba(160, 160, 160, 0.3);
  border-radius: 2rem;
  color: white;
  font-size: 1rem;
  margin-right: 3em;
  font-weight: bold;
  padding: 1em 2em;
}

.home button, .about button {
  width: 12rem;
}

img {
  max-width: 100%;
}

div.bn {
  margin-top: 1em;
  text-align: center;
}

.inputs {
  color: #4F6B14;
  font-size: 110%;
}

.MuiInputBase-root {
  zmin-width: 12em;
}

.MuiSlider-root {
  max-width: 20em;
  vertical-align: bottom;
  color: #4F6B14 !important;  /* Yeah, I know */
  position: relative;  
  top: 12px;  /* align with Input */
}

.slider * {
  vertical-align: bottom;
}

.loading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 3rem;
  height: 70vh;
}

.loading span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0 1rem;
}

.loading span:nth-of-type(1) {background: #DCE8C5;}
.loading span:nth-of-type(2) {background: #AFCB7C;}
.loading span:nth-of-type(3) {background: #6B9333;}

input[name="residue"] {
  zoom: 1.5;
}

.percent > div {
  display: inline-block;
  padding: 0.5em 0;
  text-align: center;
}

#Output .underscore {
  border-bottom: 1px solid #4F6B14;
  width: 200px;
}

#Output {
  font-size: 70%;
}

#Output td:nth-child(1) {
  width: 40%;
}

.tiny {
  font-size: 70%;
  position: relative;
  top: 1.5em;
  color: silver;
}

.noborder {
  border: none;
  width: 100%;
}

.MuiListSubheader-root {
  background: #246 !important;
  color: #eca !important;
  font-style: italic;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  line-height: 1.5em !important;
}

.warning {
  background: yellow;
  font-size: 80%;
}

.coverCropSummary {
  width: 10px;
  white-space: nowrap;
}

.coverCropSummary, .coverCropSummary * {
  border: none;
}

.coverCropSummary td:nth-child(n + 2) {
  padding: 0.1em;
}

.MuiSlider-rail, .MuiSlider-track {
  height: 5px !important;
}

.help {
  position: fixed;
  background: #eee;
  z-index: 1000;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px #000;
  font-size: 70%;
}

a {
  font-weight: bold;
  color: #385E1B;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.MuiIcon-root {
  zoom: 0.8;
  opacity: 0.6;
  cursor: pointer;
  color: #444;
}

.caption {
  font-weight: bold;
  font-size: 0.9rem;
}

.highcharts-label.highcharts-stack-labels {
  display: none;
}

.output button {
  font-size: 90%;
  width: 14em;
  padding: 0.5em;
}

.output button.selected {
  background: #8EB644;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#nweeks {
  width: 4em;
}

.field legend {
  visibility: visible !important;
  color: rgba(0, 0, 0, 0.54);
  transform: translateY(-5px);
}

.moveLeft {
  transform: translateX(-30px);
}

.download {
  position: fixed;
  top: 5px;
  right: 5px;
}

.advanced {
  zoom: 0.5;
  display: inline-block;
}

.highcharts-point {
  zoom: 50 !important;
  zdisplay: none;
}

.note {
  color: #555;
  font-size: 1.2rem;
  font-style: italic;
}

.highcharts-plot-lines-4 path {
  z-index: -1 !important;
}

.footnote {
  color: #7b3294;
  font-weight: bold;
}
