.map {}

.wrapper {
    position: relative;
}

.infobar {
    background-color: #444;
    margin: 0px 6px;
    padding: 0px 6px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 2;
    color: white;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 14px;
    p {
        margin-bottom: 0%;
        margin: 2px;
    }
}

.rastertools{
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    z-index: 2;
    font-size: 10px;
}

.opacityslider{
    background-color: white;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-radius: 5px;
    padding: 0px 3px;
    z-index: 2;
    // width: 30px;
    height: auto;
    margin: 10px 0px;
    transform: translate(-30%, 300%) rotate(-90deg) ; /* Equal to rotateZ(45deg) */
}

.rasterlegend{
    background-color: white;
    position: absolute;
    bottom: 20%;
    left: 0%;
    border-radius: 5px;
    padding: 10px 10px;
    z-index: 2;
    font-size: 10px;
    transform: translate(10%, -50%);
}

.rasterlegendcolor{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.rasterlegenditem{
    display: flex;
    flex-direction: row;
    align-items: center;
}
