.MuiSlider-root {
  max-width: 20em;
  vertical-align: bottom;
  color: #4F6B14 !important;  /* Yeah, I know */
  position: relative;  
  top: 12px;  /* align with Input */
}

.MuiSlider-thumbColorPrimary {
  zoom: 0.6;
  border-radius: 0% !important;
  width: 3px !important;
}

.MuiSlider-rail, .MuiSlider-track {
  height: 5px !important;
}

.slider .tiny {
  font-size: 70%;
  position: relative;
  top: 1.5em;
  color: silver;
  vertical-align: bottom;
}